################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/smartbank/.vs/smartbank
/src/smartbank/smartbank.client/obj/Debug
/src/smartbank/smartbank.Server/bin/Debug/net9.0
/src/smartbank/smartbank.Server/obj
/src/smartbank/smartbank.client/package-lock.json
/src/smartbank/smartbank.Server/bin/Release/net9.0
/src/smartbank/smartbank.client/obj/Release
